extends layout

block content
  h1= title
  p Welcome to #{title}
  ul 
    li 
      a(href="/buttonPage/cleveland-boston-3-17" ) Cleveland Indians vs Boston Red Sox
    li 
      a(href="/buttonPage/newyork-sandiego-3-17" ) New York Yankess vs San Diego Padres

